<footer class="footer">
  <small>
    <strong><a href="www.google.com">Google</strong>
    <strong><a href="www.youtube.com">Youtube</strong>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
    </ul>
  </nav>
</footer>
